/* BOOTSTRAP STUFF ***********************************/

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.vertical-align {
    display: flex;
    align-items: center;
}
.flex {
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

.flexcolumn {
  display: flex;
  justify-content: center;
	align-content: center;
  overflow: hidden;
	flex-direction: column;
}

/* RESPONSIVE ***********************************/

/* SMALL */

@media (max-width: 767px) {
  .panel {
    width: 100%;
    height: 50vh;
    position: relative;
    overflow: hidden;
    float: left;
    z-index: 1;
  }
  
  .panel img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%  
  }
  
  .panel-b {
    height: 40vh;
    padding: 0 40px 0 40px;
  }
	
	p.articletitleappear {
		display: none;
	}
	
	h1.arthed {
		font-family: "mrs-eaves-xl-serif-narrow", serif;
		font-weight: 400;
		font-size: 2rem;
		line-height: 2.25rem;
		margin: 0 auto;
		max-width: 640px;
		text-align: center;
  }
	
	h2.artsubhed {
		font-family: "europa", sans-serif;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.25rem;
		margin: 0 auto;
		padding: 16px 0px; 
		text-align: center;
		max-width: 300px;
	}

	h2.artsubhedart {
		font-family: "europa", sans-serif;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.25rem;
		margin: 0 auto;
		padding: 16px 0px; 
		max-width: 300px;
	}

	h3.artsubheduppercase {
		font-family: "europa", sans-serif;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 0.75rem;
		padding: 8px 0 0 0;
		margin: 0;
	}
}

/* MEDIUM */

@media (min-width: 768px) {
  
	.panel {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    float: left;
    z-index: 1;
  }
  
	.panel-b {
    padding: 0 80px 0 80px;
  }
  
	.panel img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%
  }
  
	h1.arthed {
    font-family: "mrs-eaves-xl-serif-narrow", serif;
		font-weight: 400;
    font-size: 3rem;
    line-height: 3.25rem;
    margin: 0 auto;
		max-width: 640px;
  }
  
	h2.artsubhed {
    font-family: "europa", sans-serif;
    font-size: 1rem;
		font-weight: 400;
    line-height: 1.25rem;
    margin: 0 auto;
		padding: 16px 0px; 
		max-width: 340px;
  }
	
	  h2.artsubhedart {
    font-family: "europa", sans-serif;
    font-size: 1rem;
		font-weight: 400;
    line-height: 1.25rem;
    margin: 0 auto;
		padding: 16px 0px; 
		max-width: 340px;
  }
	
	h3.artsubheduppercase {
		font-family: "europa", sans-serif;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 0.75rem;
		padding: 8px 0 0 0;
		margin: 0;
	}
}
	
/* TYPOGRAPHY ***********************************/

 h1.arthed a {
	 color: #645D59;
   text-decoration: none;
}

p {
	font-family: "mrs-eaves-xl-serif-narrow", serif;
	font-size: 1.25rem;
	color: black;
}

a {
  text-decoration: none;
}

a:visited {
  color: rgba(255,255,255,0.9);
}

a:hover {
  color: red;
  text-decoration: none;
}

::selection {
  background: rgba(0,0,0,0.1);
  }

::-moz-selection {
  background: rgba(0,0,0,0.1);
  }


/* BASE STYLES ***********************************/

body {
  background-color: #FFFFFF;
}

.siteheader {
  position: absolute;
  z-index: 2;
  height: 48px;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
	overflow: hidden;
}

.siteheader.stickyheader {
	position: fixed;
}

/* HOME ***********************************/


.panel-b {
  background-color: #F4EEEB;
}

/*.feature {
  flex-direction: column;
}

.feature .cardimg {
  height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
}

.feature .cardimg img {
  object-fit: cover;
  min-width: 100%;
  min-height: 100% 
}
*/

.heading-links {
  position: relative; 
}

.heading-links .heading-block {
  position: absolute;
  display: flex;
  width: 100%;
}

.heading-block.pull-left {
  justify-content: flex-start;  
}

.heading-block.pull-center {
  justify-content: center;
}

.heading-block.pull-right {
  justify-content: flex-end;
}

.heading-block a.heading-link-left {
	margin-left: 2rem;
	margin-top: 0.125rem;
	z-index: 10;
	width: 28px;
	height: 28px;
}

.heading-block p.articletitleappear {
	font-family: "europa", sans-serif;
	font-weight: 600;
	font-size: 1rem;
	position: absolute;
	margin-left: 2rem;
	margin-top: 3rem;
	z-index: 5;
	color: #000000;
	transition-property: margin-top;
	transition-duration: 200ms;
	transition-delay: 100ms;
}

.instagramsvg {
	pointer-events: none;
}

.heading-block a.heading-link-center {
	width: 108px;
	height: 28px;
	margin-top: 0.25rem;
	z-index: 10;
}

.heading-block a.heading-link-right {
  font-family: "europa", san-serif;
	text-transform: uppercase;
	font-size: 0.75rem;
	letter-spacing: 1px;
	color: #645D59;
	margin-right: 2rem;
	margin-top: 0.5rem;
}

.heading-block a.heading-link-right:hover {
	color: red;
	text-decoration: none;
}

/* ARTICLE ***********************************/

.wellthyarticleheader {
	padding: 128px 0 80px 0;
	width: 100%;
	background-color: #F4EEEB;
	text-align: center;
	z-index: 1;
	color: #645D59;
	transition: color 100ms ease;
}

.articlebody {
	padding: 80px;
	margin: 0 auto;
	max-width: 800px;
}

.mailsignup {
	width: 100%;
	background-color: #F4EEEB;
	text-align: center;
	padding: 64px 0px;
}


/* FOOTER ***********************************/

.wellthyfooter {
	background-color: #FFFFFF;
	text-align: center;
	padding: 64px 0px;
	margin: 0 auto;
}

a.homelinkfooter {
	height: 28px;
	width: 108px;
	align-self: center;
}

object.wellthysvg {
	pointer-events: none;
}

a.homelink:hover {
	color: red;
	text-decoration: none;
}

p.small {
	font-family: "europa", sans-serif;
	font-size: 0.75rem;
	font-weight: 400;
	color: #645D59;
	margin: 16px 0 0 0;
	max-width: 340px;
	line-height: 1rem;
}

a.instafooterlink {
	margin-top: 16px;
	align-self: center;
	height: 28px;
	width: 28px;
}

object.instagramsvgfooter {
	pointer-events: none;
}