/* FONTS *******************************************************************************************************/

@font-face {
      font-family: hk-grotesk;
      src: url("../fonts/hkg-m.woff2") format('woff2'),
           url("../fonts/hkg-m.woff") format('woff'),
           url("../fonts/hkg-m.ttf") format('truetype');
      font-weight: 500;
      font-style: normal;
    }

@font-face {
      font-family: hk-grotesk;
      src: url("../fonts/hk-mi.woff2") format('woff2'),
           url("../fonts/hk-mi.woff") format('woff'),
           url("../fonts/hk-mi.ttf") format('truetype');
      font-weight: 500;
      font-style: italic;
    }

@font-face {
      font-family: hk-grotesk;
      src: url("../fonts/hkg-b.woff2") format('woff2'),
           url("../fonts/hkg-b.woff") format('woff'),
           url("../fonts/hkg-b.ttf") format('truetype');
      font-weight: 700;
      font-style: normal;
    }

@font-face {
      font-family: hk-grotesk;
      src: url("../fonts/hkg-bi.woff2") format('woff2'),
           url("../fonts/hkg-bi.woff") format('woff'),
           url("../fonts/hkg-bi.ttf") format('truetype');
      font-weight: 700;
      font-style: italic;
    }


/* BASICS *******************************************************************************************************/

body {
  background-color: #FAFAFA;
  margin: 0;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  flex: 0 0 100%;
  margin: 0;
  padding: 0;
}

p {
  font-family: "mrs-eaves-xl-serif",serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
  color: #262626;
  margin: 0 0 40px 0;
}

h1, h2, h3 {
  margin: 0;
}

::selection {
  color: #FFFFFF;
  background: #262626;
}

::-moz-selection {
  color: #FFFFFF;
  background: #262626;
}

/* NAVIGATION *******************************************************************************************************/

.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0;
  padding: 0 40px;
  z-index: 10;
  height: 112px;
  width: 100%;
  align-items: center;
  position: absolute;
  top: 0;
}

@media (max-width: 767px) {
  .nav {
    height: 64px;
    padding: 0 24px;
  }
}

ul.nav-left {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.nav-left a{
  font-family: "hk-grotesk",sans-serif;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 2px;
  color: #262626;
  text-decoration: none;
  padding-bottom: 4px;
}

ul.nav-left a:hover{
  color: #262626;
  border-bottom: 1px solid #262626;
}

ul.nav-left.white a {
  color: #FFFFFF;
}

ul.nav-left.white a:hover{
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

ul.nav-left span + span {
  margin-left: 16px;
}

@media (max-width: 767px) {
  ul.nav-left {
    display: none;
  }
}

ul.nav-center {
  display: flex;
  flex: 1;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.nav-center a {
  display: inline-block;
  padding: 8px 0 0 0;
}

ul.nav-center img {
  height: 24px;
}

ul.nav-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.nav-right a{
  font-family: "hk-grotesk",sans-serif;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 2px;
  color: #262626;
  text-decoration: none;
  padding-bottom: 4px;
}

ul.nav-right a:hover{
  color: #262626;
  border-bottom: 1px solid #262626;
}

ul.nav-right.active a {
  border-bottom: 1px solid #262626;
}

ul.nav-right.white a {
  color: #FFFFFF;
}

ul.nav-right.white a:hover{
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

ul.nav-right span + span {
  margin-left: 16px;
}

@media (max-width: 767px) {
  ul.nav-right {
    display: none;
  }
}

/* NAV - MOBILE ADDITIONS ***********************************/

ul.nav-left-mobile {
  display: flex;
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.nav-right-mobile {
  display: flex;
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  ul.nav-left-mobile, ul.nav-right-mobile {
    display: none;
  }
}

.overlay {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #FAFAFA;
  z-index: 100;
}

ul.overlay-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.overlay-list li {
  margin: 0 0 40px 0;
}

ul.overlay-list li a {
  font-family: "hk-grotesk", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #262626;
  text-decoration: none;
}

.mobile-close-nav {
  display: flex;
  align-items: center;
  height: 64px;
  margin: 0;
  padding: 0 24px;
}

.overlay-close {
  display: flex;
  justify-content: flex-end;
}

.overlay nav {
  align-self: center;
  text-align: center;
  margin: 80px 0 0 0;
  padding: 0 24px 24px 24px;
}

.overlay-data {
  opacity: 0;
  visibility: hidden;
}

.overlay-open {
  opacity: 1;
  visibility: visible;
  display: flex;
  flex-direction: column;
}

/* FOOTER *******************************************************************************************************/

.newsletter {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px;
  padding: 80px 0;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}

@media (max-width: 767px) {
  .newsletter {
    flex-wrap: wrap;
    margin: 0 24px;
    padding: 40px 0;
  }
}

.subscribe-copy {
  flex-grow: 1;
  flex-basis: 50%;
  font-family: "hk-grotesk", sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 2rem;
  color: #262626;
  margin: 0 80px 0 0;
}

@media (max-width: 767px) {
  .subscribe-copy {
    font-size: 1.5rem;
    line-height: 1.75rem;
    margin: 0 0 24px 0;
  }
}

.subscribe-form {
  flex-grow: 1;
  flex-basis: 50%;
}

form #mc_embed_signup_scroll {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  border: 1px solid #262626;
  justify-content: space-between;
}

input {
  background: none;
  border: none;
}

input.required.email {
  font-family: "hk-grotesk", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.25rem;
  color: #262626;
  width: 390px;
}

@media (max-width: 767px) {
  input.required.email {
    width: 240px;
  }
}

input.required.email:focus {
  outline: none;
}

::-webkit-input-placeholder { /* Chrome */
  color: #999999;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #999999;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #999999;
  opacity: 1;
}

form #mc_embed_signup_scroll input.button {
  background-image: url(http://nectyre.com/img/rightarrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  cursor: pointer;
  padding: 0;
}

form #mc_embed_signup_scroll input.button:focus {
  outline: none;
}

.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 40px;
}

@media (max-width: 767px) {
  .footer {
    flex-direction: column-reverse;
    text-align: center;
    padding: 40px 24px;
  }
}

.disclaimer {
  font-family: "hk-grotesk",sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.125rem;
  color: #999999;
  margin: 0;
}

.socials span + span {
  margin-left: 16px;
}

.socials a {
  font-family: "hk-grotesk",sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  color: #262626;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 0 4px 0;
}

.socials a:hover {
  border-bottom: 1px solid #262626;
}

@media (max-width: 767px) {
  .socials {
    margin: 0 0 24px 0;
  }
}

/* HOME *******************************************************************************************************/

.feature {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  flex: 0 0 100%;
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .feature {
    flex-direction: column-reverse;
  }
}

@media (min-width: 768px) {
  .feature-right, .feature-left {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .feature-left {
    padding: 0px 24px;
  }
}

.feature-left img {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%
}

.latest-image {
  display: flex;
  height: 100vh;
}

@media (max-width: 767px) {
  .latest-image {
    height: 400px;
  }
}

.feature-right {
  padding: 0px 40px;
}


@media (max-width: 767px) {
  .feature-right {
    margin-top: 64px;
    padding: 40px 24px;
  }
}

.latest-story {
  display: flex;
  flex-direction: column;
  min-height: 768px;
  height: 100vh;
}

@media (max-width: 767px) {
  .latest-story {
    min-height: inherit;
    height: auto;
  }
}

.latest-story-content {
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: auto;
}

p.category-tag.dark {
  color: #FFFFFF;
  background-color: #262626;
  margin: 0 0 40px 0;
}

@media (max-width: 767px) {
  p.category-tag.dark {
    margin: 0 0 24px 0;
  }
}

hr.feature-right-border {
  width: 100%;
  margin-top: auto;
  margin-bottom: 0;
  border-top: none;
  border-bottom: 1px solid #efefef;
}

@media (max-width: 767px) {
  hr.feature-right-border {
    display: none;
  }
}

h1.home-article-header a {
  font-family: "hk-grotesk",sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 3.75rem;
  color: #262626;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  h1.home-article-header a {
    font-size: 2rem;
    line-height: 2.25rem;
  }
}

h2.home-article-subheader {
  font-family: "mrs-eaves-xl-serif",serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #262626;
  margin: 32px 0;
  padding: 0px 40px;
}

@media (max-width: 767px) {
  h2.home-article-subheader {
    display: none;
  }
}

a.latest-story-link {
  font-family: "hk-grotesk",sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 0.875rem;
  text-transform: uppercase;
  color: #262626;
  text-decoration: none;
  letter-spacing: 2px;
  padding-bottom: 2px;
}

a.latest-story-link:hover {
  border-bottom: 1px solid #262626;
}

@media (max-width: 767px) {
  a.latest-story-link {
    display: none;
  }
}

.about {
  padding: 128px 80px;
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 767px) {
  .about {
    padding: 40px;
  }
}

h3.about-company {
  font-family: "hk-grotesk", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.75rem;
  text-align: center;
  margin: 0;
  padding: 0;
  max-width: 1200px;
}

.latest-story-mobile {
  display: none;
}

/* HOME - MOBILE VERSION ***********************************/

@media (max-width: 767px) {

.latest-story-mobile {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px 24px 0px 24px;
}

h2.home-article-subheader-mobile {
  font-family: "mrs-eaves-xl-serif",serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #262626;
  margin: 0 0 40px 0;
}

a.latest-story-link-mobile {
  font-family: "hk-grotesk",sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 0.875rem;
  text-transform: uppercase;
  color: #262626;
  text-decoration: none;
  letter-spacing: 2px;
  margin: 0 0 40px 0;
  padding: 0;
}

hr.feature-right-border-mobile {
  width: 100%;
  border-top: none;
  border-bottom: 1px solid #efefef;
  margin: 0;
}
}

/* STORY *******************************************************************************************************/

.article-header-block {
  display: flex;
  width: 100%;
  text-align: center;
  background-color: #262626;
  justify-content: center;
  overflow: hidden;
}

.article-header-content {
  max-width: 800px;
  z-index: 2;
  color: #FFFFFF;
  transition: opacity 250ms ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 112px 0 0 0;
  padding: 40px 40px 80px 40px;
}

@media (max-width: 767px) {
  .article-header-content {
    margin: 64px 0 0 0;
    padding: 40px 24px;
  }
}

p.category-tag {
  font-family: "hk-grotesk",sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #262626;
  background-color: #FFFFFF;
  margin: 0 0 24px 0;
  padding: 8px 8px 4px 8px;
  display: inline-block;
}

h1.article-header {
  font-family: "hk-grotesk",sans-serif;
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 4rem;
  margin: 0 0 24px 0;
}

@media (max-width: 767px) {
  h1.article-header {
    font-size: 2.5rem;
    line-height: 2.75rem;
  }
}

h2.article-subheader {
  font-family: "mrs-eaves-xl-serif",serif;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.625rem;
  margin: 0 0 24px 0;
}

@media (max-width: 767px) {
  h2.article-subheader {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

h3.article-date {
  font-family: "hk-grotesk",sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 0.875rem;
  line-height: 1.125rem;
  padding: 0;
  margin: 0;
}

.article-body {
  padding: 80px 40px;
  margin: 0 auto;
  max-width: 800px;
}

@media (max-width: 767px) {
  .article-body {
    padding: 40px 24px !important;
  }
}

.article-body img {
  width: 100%;
  margin-bottom: 16px;
  height: 800px;
  object-fit: cover;
}

@media (max-width: 767px) {
  .article-body img {
    height: 400px;
  }
}

span.parheader {
  font-family: "hk-grotesk",sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0 8px 0 0;
}

p.largertext {
  font-family: "hk-grotesk",sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}

p.caption {
  font-family: "hk-grotesk",sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  color: #262626;
  margin: 0 0 40px 0;
  line-height: 0.75rem;
  padding: 0;
}

p.caption a{
  color: #262626;
  text-decoration: none;
  padding-bottom: 2px;
}

p.caption a:hover {
  text-decoration: none;
  border-bottom: 1px solid #262626;
}

a.articlelink {
  color: #262626;
  text-decoration:none;
  padding-bottom: 2px;
  border-bottom: 1px solid #262626;
}

a.articlelink:hover {
  color: #262626;
  text-decoration: none;
}

.share {
  display: flex;
  flex-direction: row;
}

@media (max-width: 767px) {
  .share {
    flex-direction: column;
  }
}

.share span + span {
  margin: 0 0 0 16px;
}

@media (max-width: 767px) {
  .share span + span {
    margin: 8px 0 0 0;
  }
}

p.sharetitle {
  font-family: "hk-grotesk",sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  color: #262626;
  line-height: 0.875rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  display: inline-block;
}

a.sharelink {
  font-family: "hk-grotesk",sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  color: #262626;
  margin: 0;
  padding: 0 0 4px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
}

a.sharelink:hover {
  text-decoration: none;
  border-bottom: 1px solid #262626;
}

/* STORIES INDEX *******************************************************************************************************/

@media (min-width: 1024px) {
  .card-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    justify-content: center;
    margin: 112px 0 0 0;
    padding: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .card-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    justify-content: center;
    margin: 112px 0 0 0;
    padding: 40px;
  }
}

@media (max-width: 767px) {
  .card-grid {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-row-gap: 2rem;
    justify-content: center;
    margin: 64px 0 0 0;
    padding: 24px;
  }
}

.story-card {
  position: relative;
  overflow: hidden;
  height: 600px;
}

@media (max-width: 767px) {
  .story-card {
    height: 400px;
  }
}

.card-image {
  max-height: 600px;
  display: flex;
}

.card-image img {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.25);
}

.card-text{
  position: absolute;
  padding: 40px;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p.card-title {
  font-family: "hk-grotesk",sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.25rem;
  color: #FFFFFF;
  margin: 8px 0 0 0;
}
